.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 40px;
    grid-auto-rows: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
  } 

  .trainerTitle {
    letter-spacing: 1px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.pokemonCard {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  height: 160px;
  text-align: center;
  width: 200px;
}

.pokemonCardTxt {
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
}

.noPokemonsCaughtTxt {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.pokemonCardTxt::first-letter {
   text-transform: uppercase;
}

.pokemonCardImg{
    height:70px;
    margin-top: 20px;
  }